<!DOCTYPE html>
<html lang="zh">
<head>
	<title th:text="#{admin.login}"></title>
	<th:block th:replace="~{fragments :: meta}"></th:block>
	<th:block th:replace="~{fragments :: resources}"></th:block>

	<style>
		.form-signin {
			max-width: 330px;
			padding: 1rem;
		}
		.form-signin .form-floating:focus-within {
			z-index: 2;
		}
		.form-signin input[type="text"] {
			margin-bottom: -1px;
			border-bottom-right-radius: 0;
			border-bottom-left-radius: 0;
		}
		.form-signin input[type="password"] {
			margin-bottom: 10px;
			border-top-left-radius: 0;
			border-top-right-radius: 0;
		}
	</style>
</head>
<body>

<div th:replace="~{fragments :: header}"></div>

<main class="form-signin w-100 m-auto min-vh-80 d-flex align-items-center">
	<form class="w-100" action="/login/check" method="post">
		<h1 class="h3 mb-3 fw-normal" th:text="#{admin.login}"></h1>
		<div class="form-floating">
			<input type="text" class="form-control" id="floatingInput" placeholder="Username" name="username">
			<label for="floatingInput" th:text="#{admin.name}"></label>
		</div>
		<div class="form-floating">
			<input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
			<label for="floatingPassword" th:text="#{admin.password}"></label>
		</div>
		<button class="btn btn-primary w-100 py-2" type="submit" th:text="#{admin.login}"></button>
	</form>
</main>

<div th:replace="~{fragments :: footer}"></div>

</body>
</html>