<!DOCTYPE html>
<html lang="zh">
<head>
	<title th:text="${problem.pid}"></title>
	<th:block th:replace="~{fragments :: meta}"></th:block>
	<th:block th:replace="~{fragments :: resources}"></th:block>

	<link rel="stylesheet" href="/lib/codemirror-5.65.20/lib/codemirror.css">
	<script src="/lib/codemirror-5.65.20/lib/codemirror.js"></script>
	<script src="/lib/codemirror-5.65.20/mode/clike.js"></script>

</head>
<body>

<div th:replace="~{fragments :: header}"></div>

<div class="container p-3">
	<h1 class="text-center">
		<span th:text="${problem.pid}"></span>
		<span th:text="${problem.name}"></span>
	</h1>

	<div class="keroshi-tag-container">
		<th:block th:each="info : ${problem.info}">
        <span th:if="${info.value.visible}"
			  class="keroshi-badge"
			  th:text="${info.value.getFormattedValue(info.key)}">
        </span>
		</th:block>
	</div>

	<a th:href="@{/problem/{id}/edit(id=${problem.id})}"
	   th:text="#{problem.edit}"
	></a>

	<hr>
	<div id="statement"></div>
	<input type="hidden" id="statement_md" th:value="${problem.statement}">

	<hr>
	<h3 th:text="#{problem.submit_code}"></h3>
	<pre><code>g++ -O2 -std=c++14</code></pre>

	<form th:action="@{/problem/{id}/submit(id=${problem.id})}" method="post">
		<textarea name="code" id="code"></textarea><br>
		<button class="btn btn-primary py-2" type="submit" th:text="#{problem.submit}"></button>
	</form>
</div>

<div th:replace="~{fragments :: footer}"></div>

<script>
	let statement_md = document.getElementById('statement_md').value;
	document.getElementById('statement').innerHTML = marked.parse(renderMath(statement_md));

	var cppEditor = CodeMirror.fromTextArea(document.getElementById("code"), {
		lineNumbers: true,
		mode: "text/x-c++src",
		matchBrackets: true,
		indentUnit: 4,
		tabSize: 4,
		indentWithTabs: true,
		lineWrapping: false,
	});
</script>

</body>
</html>