<!DOCTYPE html>
<html lang="zh">
<head>
	<title th:text="${problem.pid}"></title>
	<th:block th:replace="~{fragments :: meta}"></th:block>

	<link rel="stylesheet" href="/lib/codemirror-5.65.20/lib/codemirror.css">
	<script src="/lib/codemirror-5.65.20/lib/codemirror.js"></script>
	<script src="/lib/codemirror-5.65.20/mode/markdown.js"></script>
	<script src="/lib/codemirror-5.65.20/mode/xml.js"></script>
	<script src="/lib/codemirror-5.65.20/mode/javascript.js"></script>
	<script src="/lib/codemirror-5.65.20/mode/css.js"></script>
	<script src="/lib/codemirror-5.65.20/mode/htmlmixed.js"></script>
	<script src="/lib/codemirror-5.65.20/mode/clike.js"></script>
	<script src="/lib/codemirror-5.65.20/mode/stex.js"></script>
	<script src="/lib/codemirror-5.65.20/addon/multiplex.js"></script>

	<th:block th:replace="~{fragments :: resources}"></th:block>
</head>
<body>

<div th:replace="~{fragments :: header}"></div>

<div class="container p-3">
	<h1 class="text-center">
		<span th:text="${problem.pid}"></span>
		<span th:text="${problem.name}"></span>
	</h1>
	<a th:href="@{/problem/{id}(id=${problem.id})}"
		th:text="#{problem.return}"
	></a>
	<hr>
	<h2 th:text="#{problem.edit}"></h2>
	<form th:action="@{/problem/{id}/edit/submit(id=${problem.id})}" method="post">
		<h3 th:text="#{problem.edit_id}"></h3>
		<input th:value="${problem.pid}" type="text" class="form-control" name="pid" onkeydown="if (event.keyCode===13){ return false; }"><br>
		<h3 th:text="#{problem.edit_name}"></h3>
		<input th:value="${problem.name}" type="text" class="form-control" name="name" onkeydown="if (event.keyCode===13){ return false; }"><br>
		<h3 th:text="#{problem.edit_statement}"></h3>
		<textarea th:text="${problem.statement}" name="statement" id="statement"></textarea><br>
		<h3 th:text="#{problem.edit_tag}"></h3>
		<textarea th:text="${infoJson}" name="info" id="info"></textarea><br>
		<button class="btn btn-primary py-2" type="submit" th:text="#{problem.submit}"></button>
	</form>
</div>

<div th:replace="~{fragments :: footer}"></div>

<script>
	var markdownEditor = CodeMirror.fromTextArea(document.getElementById("statement"), {
		mode: "ojMarkdown",
		lineNumbers: true,
		matchBrackets: true,
		indentUnit: 4,
		tabSize: 4,
		indentWithTabs: true,
		lineWrapping: false,
	});
	var jsonEditor = CodeMirror.fromTextArea(document.getElementById("info"), {
		mode: "application/json",
		lineNumbers: true,
		matchBrackets: true,
		indentUnit: 4,
		tabSize: 4,
		indentWithTabs: true,
		lineWrapping: false,
	});
</script>

</body>
</html>