<!DOCTYPE html>
<html lang="zh">
<head>
	<title th:text="#{nav.submissions}"></title>
	<th:block th:replace="~{fragments :: meta}"></th:block>
	<th:block th:replace="~{fragments :: resources}"></th:block>

	<style>
		.hljs {
			background-color: rgba(240, 250, 255, 0.25);
			border-radius: 5px;
		}
	</style>

</head>
<body>

<div th:replace="~{fragments :: header}"></div>

<div class="container p-3">
	<h2>提交记录 #<span th:text="${submission.id}"></span></h2>
	<pre><code class="language-cpp hljs" th:text="${submission.code}"></code></pre>
	<div th:if="${submission.compileLog != null and !#strings.isEmpty(submission.compileLog)}">
		<h3>编译信息</h3>
		<pre><code class="hljs" th:text="${submission.compileLog}"></code></pre>
	</div>
</div>

<div th:replace="~{fragments :: footer}"></div>

<script>
	hljs.highlightAll();
</script>

</body>
</html>